<header id="head"> 
    <div>
        <h1 id="title">
            AWebsite <h3 id="subtitle">An Austin Wilmoth Website </h3>
        </h1>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/about-me">About Me</a>
    </nav>
</header>