<header id="head"> 
    <div id="main-bar">
        <h1 id="title">
            AWebsite <h3 id="subtitle">An Austin Wilmoth Website </h3>
        </h1>
        <div id="social-links">
            <a href="https://www.linkedin.com/in/austin-wilmoth-566085150/" class="fa fa-linkedin"></a>
            <a href="https://github.com/wilmotha" class="fa fa-github"></a>
            <a href="https://soundcloud.com/austin-wilmoth" class="fa fa-soundcloud"></a>
            <a href="https://www.facebook.com/austin.wilmoth.9" class="fa fa-facebook"></a>
        </div>
    </div>
    <nav id="pages">
        <a id="{{home}}" class="buttons" href="/">Home</a>
        <a id="{{projects}}" class="buttons "href="/projects">Projects</a>
        <a id="{{aboutme}}" class="buttons" href="/about-me">About Me</a>
    </nav>
</header>   