<body>
    {{>header}}
    <div class="main-content">
        <div class="big-title">
            <h1 id="error-404">- 404 - </h1>
            Page Not Found :(
        </div>
        <a id="take-home" href="/">Take me home</a>
    </div>
</body>