<body>
    {{>header}}

    <div id="about-title">
        - About Me -
    </div>
    <div id="me">
        <img id="profile" width="300" height="auto" src="photos/profile.jpg"
        <div>

        <div id="description">
            I am a computer science major at Oregon State University.
            My expected graduation is June 2020
        </div>
        
        </div>
    </div>
    <a #id="resume" href="photos/resume.pdf">Resume</a>
    
</body>