<body>
    {{>header}}
    <div class="main-content">
        <div class="big-title">
            - About Me -
        </div>
        <div id="me">
            <img id="profile" width="300" height="auto" src="photos/profile.jpg"
            <div>
                <div id="description">
                    <h4>Austin Wilmoth </h4>
                    <h5>Oregon State University - June 2020</h5>
                    <h6>Compute Science</h6>
                        
                    <div>I am passionate about many aspects of computer science and am excited about the opportunities that await me in the field.
                    </div>
                    <div>
                        <a #id="resume" href="photos/resume.pdf">Resume</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>