<body>
    {{>header}}

    {{!-- <img id="resume" width="1008" height="auto" src="photos/resume.pdf" --}}
    {{!-- <embed src="photos/resume.pdf" width="1008px" height="auto" /> --}}
    <a #id="resume" href="photos/resume.pdf">Resume</a>

</body>