<body>
    {{>header}}

    <div id="about-title">
        - About Me -
    </div>
    <img id="profile" width="300" height="auto" src="photos/profile.jpg"
    <div>

    </div>

    <a #id="resume" href="photos/resume.pdf">Resume</a>
</body>