<body>
    {{>header}}
    <div class="main-content">
        <h2> Programing Projects </h2>
            <a #id="github" href="https://github.com/wilmotha">GitHub</a>
        <h2> Music Projects </h2>
            <a #id="SoundCloud" href="https://soundcloud.com/austin-wilmoth">SoundCloud</a>
    </div>
</body>