body {
  display: inline-block;
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
}

nav {
  /*position: fixed; In the future but have to do other things*/
  padding-left: 20px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

nav a {
  display: inline-block;
  text-decoration: none;
  /* font-family: sans-serif; */
  color: black;
  padding: 8px;
  padding-top: 10px;
  margin: 0px;
}


#cur {
  border-bottom: 5px solid black;
}


#head {
  background-color: black;
}

#social-links{
  display: inline;
  float: right;
}

.fa {
  padding: 1px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  padding-top: 30px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  /* background: #3B5998; */
  color: white;
}

.fa-linkedin {
  /* background: #007bb5; */
  color: white;
}

.fa-github {
  /* background: #bb0000; */
  color: white;
}

.fa-soundcloud {
  /* background: #125688; */
  color: white;
}

.buttons:hover {
  background:lightgrey;
}

.main-content {
  /* display: -webkit-flex; */
  display: grid;
  /* -webkit-align-items: center; */
  align-items: center;
  /* -webkit-justify-content: center; */
  justify-content: center;
}

.big-title {
  text-align: center;
  font-size: 90px;
  
}

#description { 
  display: inline-block;
  /* border-bottom: 6px solid black;
  border-radius: 5px; */
  padding-left: 20px;
  padding-top: 10px;
  /* background: lightgrey; */
  width: 400px; 
  /* position: relative;  */
  top: 0px; 
}

#profile {
  max-width: 100%;
  display: inline-block;
  border: 6px solid black;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);

}

#me {
  display: grid; /*grid stuff*/
  grid-template-columns: max-content max-content;
  height: auto;
  width: max-content;
  border-bottom: 6px solid black;
  border-radius: 5px;
  padding: 10px;
  background: lightgrey;
  vertical-align: super;
  
}

#resume {
  color: white;
  font-size: 20px;
  
}

#title {
  display: inline-block;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}

#subtitle {
  display: inline-block;
  font-size: 10px;
  color: white;
}

#snow-jeep {
  height: auto;
  width: 100%;
  max-width: 1008px;
}

#error-404 {
  font-size: 150px;
  padding: 1px;
  margin: 10px;  
}

#take-home {
  text-align: center;
}